<%= form_with(model: house ) do |f| %>
  <div class="field">
    <%= f.label 'House name' %><br />
    <%= f.text_field :name, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "House up", class: blue_btn %>
  </div>
<% end %>