<%= form_with(model: house ) do |f| %>
  <div class="field">
    <%= f.label 'House name' %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit class: blue_btn%>
  </div>
<% end %>