
  <% if @game_owner %>
  <%= button_to 'delete',
            { controller: "games", action: "destroy", id: @game.id },
            data: { confirm: 'Are you sure?' },
            method: :delete,
            class: red_btn %>
  <% end %>

  <h1>
    <i class="fa-solid fa-meteor"></i>
  </h1>
  <% @players.each do |player| %>
    <div data-controller="players" data-player-id="<%= player.id %>">
      <%= render 'player', player: player %>
    </div>
  <% end %>

