/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "error_message";
@import "user_statistics";

.statistics_color {
  background-color: rgb(75, 192, 192);
}


.kaboom{
  font-size: 500px;
}

.lives {
  font-size: 50px;
}

.damage_to, .dead {
  font-size: 40px;
}

.damage_to_enemies {
  font-size: 80px;
  margin-left: 20px;
  border-radius:50%;
  padding: 10px;
  color: mediumpurple;
  border: 1px solid ghostwhite;
  text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

.heal {
  font-size: 25px;
}

.my_turn {
  background-color: yellow;
}